@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new Recipe</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName)
  <br>
  @Html.TextBoxFor(model => model.RecipeName)
  <br>
  @Html.LabelFor(model => model.Ingredients)
  <br>
  @Html.TextAreaFor(model => model.Ingredients, new { @class = "textArea" })
  <br>
  @Html.LabelFor(model => model.Instructions)
  <br>
  @Html.TextAreaFor(model => model.Instructions, new { @class = "textArea" })
  <br>
  @Html.Label("Select tag")
  <br>
  @Html.DropDownList("TagId")

  <input type="submit" value="Add new recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all recipes", "Index")</p>